{:paths ["src" "dev"]
 :deps  {criterium/criterium                                {:mvn/version "0.4.6"}
         lambdaisland/data-printers                         {:mvn/version "0.0.22"}
         com.squidpony/squidlib-util                        {:mvn/version "3.0.3"}
         com.squidpony/squidlib                             {:mvn/version "3.0.3"}
         com.squidpony/squidlib-extra                       {:mvn/version "3.0.3"}
         com.badlogicgames.gdx/gdx-backend-lwjgl3           {:mvn/version "1.9.12"}
         com.badlogicgames.gdx/gdx$javadoc                  {:mvn/version "1.9.12"}
         com.badlogicgames.gdx/gdx-platform                 {:mvn/version "1.9.12"}
         com.badlogicgames.gdx/gdx-platform$natives-desktop {:mvn/version "1.9.12"}
         djblue/portal                                      {:mvn/version "RELEASE"}}}
